.spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}


.home-component {
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.illustration img {
  width: 320px;
  margin-bottom: 30px;
}

.description p {
  font-size: 16px;
  color: #444;
  // max-width: 480px;
  margin-bottom: 30px;
}


.btn {
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.secondary {
  // background-color: #fff;
  background-color: #3f51b5;
  border: 2px solid #4758b9;
    color: #fff;
}

.btn.secondary:hover {
  background-color: #2c7fdf;
   border: 2px solid #639fe3;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}

.email-input {
  padding: 12px 16px;
  // border: 2px solid #ddd;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  font-size: 16px;
  width: 300px;
  margin-right: 20px;
  
  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  &.ng-invalid.ng-touched {
    border-color: #dc3545;
    box-shadow: 0 0 0 3px rgba(227, 126, 126, 0.797);
  }

}

.actions{
  padding: 12px 16px;
  // margin-top: 16px;
}

/* Correct dialog width */
:host ::ng-deep .p-dialog {
  width: 400px !important;   /* or any size */
}

/* Body container */
.popup-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup-label {
  text-align: left;
}


/* Buttons */
.btn.primary {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top : 10px;
}

.btn.primary:hover {
  background-color: #3c7bc2;
}

.popup-input {
  padding: 12px 16px;
  // border: 2px solid #ddd;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  font-size: 16px;
  
  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  &.ng-invalid.ng-touched {
    border-color: #dc3545;
    box-shadow: 0 0 0 3px rgba(227, 126, 126, 0.797);
  }

}

